* {
	font-family: "Work Sans", sans-serif;
	font-weight: 100;
}

.projectLabel h3 {
	text-transform: uppercase;
	
}

.lineBreak {
	background-color: #7d97ad;
	height: 3px;
	margin-top: 25px;
	margin-bottom: 25px;
}